@namespace RootServer.Shared.Airtable
@inherits BasePionter;

@{
    base.BuildRenderTree(__builder);
}



<Button Color="@ColorSelector" Clicked="@OnInvoke">
    <Icon Name="@NameIcon" />&nbsp;&nbsp;@Label
</Button>